@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'table';
@import 'terms';
@import 'dark';
@import 'variables';

/*******    Root/Html/Body      ********/
:root {
    --sidebar-width: 256px;
    --admin-content-height-offset: 138px;
}

html, body {
    margin:0;
    padding:0;
    height: 100%;
    line-height: 1.5;
}

#app {
    min-height: 100vh;
}

main {
    position: relative;
    width: 100%;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track{
    background-color: #e4e4e4;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 100px;
}


/*******    Admin      ********/
html.admin {
    margin:0;
    padding:0;
    height: 100%;
    overflow: hidden;

    body {
        margin:0;
        padding:0;
        height: 100%;
        overflow: hidden;
    }

    #a-nav {
        display: inline-block;
        width: var(--sidebar-width);
        height: calc(100% - var(--admin-content-height-offset))!important;
        position:fixed;
    }

    #admin-container {
        padding-left: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    main {
        display: inline-block;
        width: calc(100% - var(--sidebar-width))!important;
        height: calc(100% - var(--admin-content-height-offset))!important;
        margin-left: var(--sidebar-width);
    }

}



/*******    Divs      ********/
.actions {
    .btn {
        width: 45px;
        margin-right: 10px;
    }
}

header {
    padding-top: 25px;
    height:80px;
    line-height: 80px;
}

.header-content {
    margin-bottom: 10px;
}

.sidebar {
    width:15%;
}

.trend-card {
    height: 8vw!important;

    .trend-card-body {
        height:80px;
        margin-bottom: 20px;
    }
    .trend-card-text {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}

.toggle-container {
    width: 70px;
    height: 30px;
    background-color: #0d1117;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    position: relative;
    transition: background .5s;
    overflow: hidden;
    .icon {
        svg {
            stroke: #fff;
            stroke-width: 1.5px;
            width: 19px;
        }
    }
    .toggle-dark-icon {
        margin-left: 12px;
        margin-top: 1px;
        svg {
            transition: transform .9s;
            transform: translateX(0px);
        }
    }
    .toggle-light-icon {
        margin-top: 2px;
        svg {
            transform-origin: center;
            transform: scale(.7) rotate(0deg);
            position: relative;
            right: 30px;
            transition: transform .9s, right .5s;
        }
    }
    .toggle-circle {
        width: 24px;
        height: 24px;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        // opacity: .2;
        left: 5%;
        transition: left .5s;
    }
}

#toggle-check {
    display: none;
    &:checked~.toggle-label .toggle-container {
        background: #fd7e14;
        .toggle-circle {
            left: 62%;
        }
        .toggle-light-icon {
            svg {
                transform: scale(1) rotate(180deg);
                right: 0px;
            }
        }
        .toggle-dark-icon {
            svg {
                transform: translateX(30px);
            }
        }
    }
}



/*******    Inputs      ********/
.csv-file-input {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}



/*******    Buttons      ********/
.action-btn {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    background-color: #3730a3;
    color: #ffffff;
    border-radius: 5px;

    :hover {
        background-color:#312e81;
        color: #64748b;
    }
}



/*******    Table      ********/
.fx-table {
    thead tr {
        background-color: #3730a3;
        color: #ffffff;
        border-bottom: 1px solid #3730a3;
        text-align: left;

        th:not(:last-child){
            border-right: 1px solid #4338ca;
        }
    }

    tr {
        vertical-align: middle;
    }

    th,
    td {
        padding: 12px 15px;
        vertical-align: middle;
    }

    tbody tr {
        border-bottom: 1px solid #3730a3;
        color: #ffffff;
    }

    tbody tr:nth-of-type(odd) {
        background-color: #0f172a;
    }
    tbody tr:nth-of-type(even) {
        background-color: #1e293b;
    }

    tbody tr:last-of-type {
        border-bottom: 2px solid #3730a3;
    }

    tbody tr.active-row {
        font-weight: bold;
        color: #3730a3;
    }
}



/*******    Utility      ********/
.of-y-scroll {
    max-height: 100vh;
    overflow-y: auto!important;
    overflow-x: hidden!important;
}

.flag {
    color:green;
}

.no-flag {
    color:red;
}

.collapse.show {
    visibility: visible!important;
}

.submenu li {
    padding-left: 25px;
}

.header-text {
    font-size: 30px;
    text-align: center;
    line-height: 1.75rem;
    padding-bottom: 15px;
}

.list-group-item:first-child {
    border-top-right-radius: unset;
    border-top-left-radius: unset;
}

.addUnTextInput {
    margin-bottom: 5px;
}

.ra-term-rating {
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.term-rating {
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 20px;
}

[type='text'], [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'],
[type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    background-color: #fff;
    border-color: #ced4da;
    border-radius: 5px;
}

.swal2-title {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 15px!important;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

table.rounded {
    border-radius: 0.35rem!important;
    overflow: hidden;
}

.list-group-item:first-child {
    border-top-right-radius: 5px!important;
    border-top-left-radius: 5px!important;
}

.list-group-item:last-child {
    border-bottom-right-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}

.nav-item{
    &:first-child {
        border-radius: 5px 5px 0 0;
    }

    &:last-child {
        border-radius: 0 0 5px 5px;

        a {
            margin-bottom: 10px;
        }
    }
}

.users-table {
    margin-top: 10px!important;
}

.sidebar-header {
    height:20%;
    border-bottom: 1px #312e81 solid;
}

.max-height {
    height:100%!important;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #157347;
    --bs-btn-hover-border-color: #146c43;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #146c43;
    --bs-btn-active-border-color: #13653f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}